<div class="disclaimer-modal" *ngIf="isVisible">
  <div class="modal-overlay"></div>
  <div class="modal-content">
    <div class="modal-header">
      <h2>Disclaimer</h2>
    </div>
    <div class="modal-body">
      <p>The rules of the Bar Council of India prohibit solicitation and advertising by legal professionals. By clicking "I Agree" below, the user acknowledges that:</p>
      <ul>
        <li>No Solicitation or Advertisement: This website does not engage in any form of solicitation, advertisement, personal communication, invitation, or inducement from Advocate Jagdamba Raj Jaiswal or his associates to solicit professional engagement.</li>
        <li>Voluntary Information Access: Users access this website voluntarily to obtain general information about Advocate Jagdamba Raj Jaiswal and his legal practice. Accessing this site does not establish an attorney-client relationship.</li>
        <li>Informational Purposes Only: The content provided is for informational purposes and may not reflect the most current legal developments. Advocate Jagdamba Raj Jaiswal disclaims any liability for actions taken based on the information herein.</li>
        <li>No Legal Advice: The information on this website should not be construed as legal advice. For personalized legal guidance, consult a qualified attorney.</li>
        <li>Intellectual Property: All materials on this website are the intellectual property of Advocate Jagdamba Raj Jaiswal and may not be used, reproduced, or modified without prior written consent.</li>
      </ul>
    </div>
    <div class="modal-actions">
      <button class="btn btn-agree" (click)="accept()">I AGREE</button>
      <!-- <button class="btn btn-exit">EXIT</button> -->
    </div>
  </div>
</div>