<div class="disclaimer-modal" *ngIf="isVisible">
  <div class="modal-overlay"></div>
  <div class="modal-content">
    <div class="modal-header">
      <h2>Disclaimer</h2>
    </div>
    <div class="modal-body">
      <p>The rules of the Bar Council of India prohibit law firms from soliciting work or advertising. By clicking "I Agree" below, the user acknowledges that:</p>
      <ul>
        <li>There has been no advertisement, personal communication, solicitation, invitation or inducement of any sort whatsoever from JAGDAMBA & ASSOCIATES or any of its members to solicit any work through this website.</li>
        <li>The user wishes to gain more information about JAGDAMBA & ASSOCIATES for his/her own information and use.</li>
        <li>The information is provided to the user only on his/her specific request and any information obtained or materials downloaded from this website is completely at the user's volition.</li>
        <li>JAGDAMBA & ASSOCIATES is not liable for any consequence of any action taken by the user relying on material/information provided under this website.</li>
        <li>In cases where the user has any legal issues, he/she in all cases must seek independent legal advice.</li>
      </ul>
    </div>
    <div class="modal-actions">
      <button class="btn btn-agree" (click)="accept()">I AGREE</button>
      <button class="btn btn-exit">EXIT</button>
    </div>
  </div>
</div>
